@use "../global"as *;

.cards-news {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.card-news {
    &:first-child a {
        border-top: 1px solid var(--color-gray);
    }
}

.card-news a {
    --_translate: 0;
    --_button-background-color: rgb(255 255 255 / .8);
    --_button-color: var(--color-black);
    --_button-move-animation: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    padding: 32px 0;
    border-bottom: 1px solid #DADADA;


}



.card-news__header {
    display: flex;
    align-items: center;
    gap: 42px;
    margin-bottom: 24px;
}

.card-news__date {
    font-family: var(--font-family-en);
    letter-spacing: .02em;
}

.card-news__category {
    font-size: rem(12);
    padding: 3.5px 6.5px;
    border: 1px solid var(--color-black);
    line-height: 1;
    min-width: rem(63);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-news__figure {
    width: 100%;
    margin-bottom: 12px;

    img {
        display: block;
        width: 100%;
        aspect-ratio: 107 / 60;
    }
}

.card-news__title {
    font-size: rem(18);
    line-height: 2;
    letter-spacing: .04em;
    margin-bottom: 4px;
    font-weight: 400;
}

.card-news__description {
    font-size: rem(14);
    letter-spacing: .12em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.card-news__button-cover {
    display: none;
}

.card-news__content {
    padding-right: 30px;
}


@media screen and (min-width: 768px) {
    .cards-news {
        display: block;
        padding-bottom: 0px;
        overflow-x: visible;

    }

    .card-news {
        padding-left: initial;
        padding-right: initial;

        &:first-child {
            padding-left: 0px;
            margin-left: 0px;
            border-left: none;
        }
    }



    .card-news a {
        flex-direction: row;
        width: 100%;
        gap: 0;
        padding: 40px 0px 31px;
        flex-shrink: 1;
        border-bottom: 1px solid var(--color-gray);
        transition: filter .3s;
        background-color: var(--color-gray-bg);
        align-items: flex-start;
    }

    .card-news a:hover {
        --_translate: 12px;
        --_button-background-color: var(--color-black);
        --_button-color: #DADADA;
        --_button-move-animation: 10px;
    }

    .card-news__header,
    .card-news__content,
    .card-news__figure {
        transition: transform 0.3s ease-out;
        transform: translateX(var(--_translate));
    }

    .card-news__figure {
        margin-left: 32px;
        width: calc(107 / 970 * 100%);
    }

    .card-news__content {
        flex: 1;
        margin-left: 24px;
        margin-top: -7px;
        padding-right: 0;
    }

    .card-news__button-cover {
        display: block;
        height: 100%;
        margin-left: 32px;
    }

    .card-news__button {
        width: 46px;
        aspect-ratio: 1 / 1;
        background-color: var(--_button-background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        color: var(--_button-color);
        position: relative;
        transition: all 0.3s ease-out;
    }


    .card-news__button-content {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: rem(9);
        overflow: hidden;

        svg {
            width: 100%;
            aspect-ratio: 9 / 14;
            display: block;
            transform: translateX(var(--_button-move-animation));
            transition: transform .3s ease-out;
        }
    }

    .card-news__button-icon-hover {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: calc(-50% - 12px) -50%;
    }
}